/* app/globals.css */
@import "tailwindcss";

@layer base {
  :root {
    --bg: 255 255 255;   /* white */
    --fg: 17 24 39;      /* gray-900 */
  }
  .dark {
    --bg: 17 24 39;      /* gray-900 */
    --fg: 243 244 246;   /* gray-100 */
  }
  body {
    background-color: rgb(var(--bg));
    color: rgb(var(--fg));
  }
}
